<div class="content">
    <toaster-container toaster-options="{'time-out': 1000}"></toaster-container>
    <div class="container">

        <div class="row">
            <div class="col-sm-12">

                <div class="portlet i18n-portlet">
                    <div class="portlet-heading bg-primary">

                        <button class="btn btn-xs btn-danger btn-circle pull-left" ng-click="resetFilter()"
                                ng-show="chosenGroupParts.length"><i class="fa fa-times"></i></button>
                        <div class="dropdown pull-left" uib-dropdown>
                            <a class="i18n-dropdown-toggle" uib-dropdown-toggle><i class="zmdi zmdi-attachment"></i></a>

                            <ul class="dropdown-menu" role="menu" uib-dropdown-menu>
                                <li><a href="#" ng-click="openExternalApiTranslationModal('yandex')"><i class="zmdi zmdi-translate"></i> Translate via Yandex API</a></li>
                                <li><a href="#" ng-click="openExternalApiTranslationModal('google')"><i class="fa fa-google"></i> Translate via Google API</a></li>
                                <li class="divider"></li>
                                <li>
                                    <a href="/api/blog/i18n/export/json/{{targetCountry.isoCode}}/{{chosenGroupParts.join('.')}}" target="_blank">
                                        <i class="zmdi zmdi-code"></i> Download in JSON
                                    </a>
                                </li>
                                <li><a href="#" ng-click="openCustomExporterModal()"><i class="zmdi zmdi-collection-text"></i> Download in custom format</a></li>
                                <li>
                                    <a href="/api/blog/i18n/export/xls/{{targetCountry.isoCode}}/{{chosenGroupParts.join('.')}}" target="_blank">
                                        <i class="zmdi zmdi-format-align-left"></i> Download in XLS
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li><a href="#" ng-click="openUploadModal('json')"><i class="zmdi zmdi-code"></i> Upload in JSON</a></li>
                                <li><a href="#" ng-click="openUploadModal('custom')"><i class="zmdi zmdi-collection-text"></i> Upload in custom format</a></li>
                                <li><a href="#" ng-click="openUploadModal('excel')"><i class="zmdi zmdi-format-align-left"></i> Upload in XLS</a></li>
                                <li class="divider"></li>
                                <li>
                                    <a href="#" ng-click="clearTranslationsForCurrentCountry()">
                                        <i class="zmdi zmdi-delete"></i> Clear translations for current destination country ({{targetCountry.name}})
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="zmdi zmdi-delete"></i> Clear translations for all countries (except current)
                                    </a>
                                </li>
                                <li class="divider" ng-show="chosenGroupParts.length"></li>
                                <li ng-show="chosenGroupParts.length" ng-click="deleteCurrentGroup()"><a href="#"><i class="zmdi zmdi-delete"></i> Delete Current Group </a></li>
                            </ul>
                        </div>
                        <h3 class="portlet-title">
                            <span ng-repeat="part in chosenGroupParts">
                                <span class="i18n-chosen-part" ng-click="removeGroupParts($index)">
                                {{part}}
                                </span>
                                <span ng-if="!$last">.</span>
                            </span>

                        </h3>

                        <div class="portlet-widgets i18n-widget">

                            Target:

                            <div class="country-block i18n-country" uib-dropdown>
                                <a href class="dropdown-toggle card-drop" aria-expanded="false" uib-dropdown-toggle>
                                    <i class="flag-icon flag-icon-{{targetCountry.isoCode | lowercase}}"></i>
                                </a>
                                <ul class="dropdown-menu" role="menu" uib-dropdown-menu>
                                    <li ng-repeat="country in availableCountries"
                                        ng-click="changeTargetCountry(country)">
                                        <a href>
                                            <i class="flag-icon flag-icon-{{country.isoCode | lowercase}}"></i>
                                            <span class="country-name">{{country.name}}</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div id="bg-primary1" class="panel-collapse collapse in">
                        <div class="portlet-body">

                            <div class="col-lg-6">
                                <div class="card-box widget-user i18n-counterup">
                                    <div class="text-center">
                                        <h2 class="text-custom" count-to="{{currentGroupView.groups.length}}" value="0"
                                            duration="0.5"></h2>
                                        <h5>Groups</h5>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="card-box widget-user i18n-counterup">
                                    <div class="text-center">
                                        <h2 class="text-custom" count-to="{{translationsFilter.totalItems}}" value="0" duration="0.5"></h2>
                                        <h5>Properties</h5>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="panel panel-custom panel-border">
                                    <div class="panel-heading">
                                        <div class="panel-title">Nested Groups
                                            <button class="btn btn-success extra-small i18n-add-button btn-circle"><i
                                                    class="fa fa-plus" ng-click="showNewGroupForm()"></i></button>

                                            <ul class="nav navbar-nav m-t-0 pull-right" ng-show="newGroupFormRequested">
                                                <li class="hidden-xs">
                                                    <form role="search"
                                                          class="app-search ng-pristine ng-valid new-tr-category-form">
                                                        <input type="text" placeholder="Enter category name key..."
                                                               class="form-control m-t-0" ng-model="newCategoryNameKey">
                                                        <a href="" ng-click="saveTranslationGroup()"><i class="text-success fa fa-save"></i></a>
                                                    </form>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="panel-body">

                                        <p class="i18n-nested-groups">
                                            <span class="label label-inverse"
                                                  ng-repeat="group in currentGroupView.groups"
                                                  ng-click="openGroup(group)">{{group}}</span>
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="row" ng-show="chosenGroupParts.length">
                                <div class="col-lg-12">
                                    <div class="panel panel-custom panel-border">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">Translations
                                                <button class="btn btn-success extra-small i18n-add-button btn-circle"
                                                        ng-click="addNewTranslation()">
                                                    <i class="fa fa-plus"></i>
                                                </button>

                                                <ul class="nav navbar-nav dk-search-form pull-right">
                                                    <li class="hidden-xs">
                                                        <form role="search" class="app-search ng-pristine ng-valid">
                                                            <input type="text" placeholder="Search..."
                                                                   class="form-control m-t-0 m-r-10"
                                                                   ng-model="translationsFilter.search"
                                                                   ng-model-options="{ debounce: { 'default': 500, 'blur': 0 } }"
                                                                   ng-change="loadTranslations()">
                                                            <a href=""><i class="fa fa-search"></i></a>
                                                        </form>
                                                    </li>
                                                </ul>
                                            </h3>
                                        </div>
                                        <div class="panel-body">
                                            <table class="table m-b-0" id="translationsTable">
                                                <thead>
                                                <tr>
                                                    <th>
                                                        <span class="dk-table-sortable" ng-click="changeTranslationsSort('key')">Translation Key
                                                            <i class="fa fa-sort" ng-class="{'fa-sort-asc' : (translationsFilter.sort == 'key ASC'), 'fa-sort-desc' : (translationsFilter.sort == 'key DESC')}"></i>
                                                        </span>
                                                    </th>
                                                    <th width="25%">Source</th>
                                                    <th width="25%">Target</th>
                                                    <th>
                                                        <span class="dk-table-sortable" ng-click="changeTranslationsSort('lastModified')">Last Modified
                                                            <i class="fa fa-sort" ng-class="{'fa-sort-asc' : (translationsFilter.sort == 'lastModified ASC'), 'fa-sort-desc' : (translationsFilter.sort == 'lastModified DESC')}"></i>
                                                        </span>
                                                    </th>
                                                    <th>Actions</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr ng-repeat="translation in currentGroupView.translations">
                                                    <td>
                                                    <span editable-text="translation.key" e-name="key" e-form="translationForm"
                                                          e-ng-disabled="!inserted.new">
                                                        {{translation.key}}
                                                    </span>
                                                    </td>
                                                    <td>{{translation.src}}</td>
                                                    <td>
                                                    <span editable-text="translation.target" e-name="target" e-form="translationForm"
                                                          style="word-break: break-all">
                                                        {{translation.target}}
                                                    </span>
                                                    </td>
                                                    <td>{{translation.lastModified | date:'dd/MM/yyyy hh:mm:ss'}}</td>
                                                    <td class="actions">
                                                        <!-- form -->
                                                        <form editable-form name="translationForm"
                                                              onbeforesave="saveTranslation($data, translation)"
                                                              ng-show="translationForm.$visible" shown="inserted == translation">
                                                            <a href class="text-success" ng-disabled="translationForm.$waiting"
                                                               ng-click="translationForm.$submit()"><i class="fa fa-save"></i></a>
                                                            <a href class="text-danger" ng-disabled="translationForm.$waiting"
                                                               ng-click="cancelFormEditing(translationForm)"><i
                                                                    class="fa fa-times"></i></a>
                                                        </form>
                                                        <div class="buttons" ng-show="!translationForm.$visible">
                                                            <a href class="text-success" ng-click="translationForm.$show()"><i
                                                                    class="fa fa-pencil"></i></a>
                                                            <a href class="text-danger" ng-click="removeTranslation(translation)"><i
                                                                    class="fa fa-trash-o"></i></a>
                                                        </div>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>

                                            <ul class="nav navbar-nav navbar-right">
                                                <li class="m-r-10">
                                                    <uib-pagination
                                                            total-items="translationsFilter.totalItems"
                                                            items-per-page="translationsFilter.entriesOnPage"
                                                            ng-model="translationsFilter.currentPage"
                                                            max-size="5"
                                                            class="pagination-sm pull-right m-b-0 m-r-10"
                                                            boundary-link-numbers="true"
                                                            rotate="false"
                                                            ng-click="loadTranslations()">
                                                    </uib-pagination>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-disabled" ng-show="translationLoading">
                            <div class="loader-1"></div>
                        </div>
                    </div>
                </div>

            </div><!-- end col -->
        </div>
        <!-- end row -->

    </div>
</div>

<script type="text/ng-template" id="customExportModal.html">
    <div class="modal-header">
        <h3 class="modal-title">Export Translations</h3>
    </div>
    <div class="modal-body">
        <div class="container">
            <div class="col-lg-12">
                <form class="form-horizontal">

                    <div class="form-group">
                        <label class="col-md-2">
                           Column Separator (Default is comma)
                        </label>
                        <div class="col-md-10">
                            <input class="form-control" type="text" ng-model="columnSeparator">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-2">
                            Row Separator (Default is new line)
                        </label>
                        <div class="col-md-10">
                            <input class="form-control" type="text" ng-model="rowSeparator">
                        </div>
                    </div>
                </form>
            </div>

        </div>

    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="exportTranslations()">Export</button>
        <button class="btn btn-warning" type="button" ng-click="$dismiss('cancel')">Cancel</button>
    </div>
</script>

<script type="text/ng-template" id="uploadModal.html">
    <div class="modal-header">
        <h3 class="modal-title">Upload Translations</h3>
    </div>
    <div class="modal-body">
        <div class="container">
            <div class="col-lg-12">
                <form class="form-horizontal">

                    <div class="form-group">
                        <div ngf-drop
                             ngf-accept="acceptFormat"
                             ngf-select="uploadTranslations($file, $invalidFiles)"
                             class="drop-box" ng-class="{'error' : uploadError}">
                            Select File or Drop File
                        </div>
                    </div>

                    <div class="text-center error" ng-show="uploadError">
                        {{uploadErrorMessage}}
                    </div>

                    <div class="m-t-30" ng-show="format == 'custom'">
                        <div class="form-group">
                            <label class="col-md-2">
                                Column Separator (Default is comma)
                            </label>
                            <div class="col-md-10">
                                <input class="form-control" type="text" ng-model="columnSeparator">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-2">
                                Row Separator (Default is new line)
                            </label>
                            <div class="col-md-10">
                                <input class="form-control" type="text" ng-model="rowSeparator">
                            </div>
                        </div>
                    </div>

                </form>
            </div>

        </div>

    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" type="button" ng-click="$dismiss('cancel')">Cancel</button>
    </div>
</script>

<script type="text/ng-template" id="externalTranslation.html">
    <div class="modal-header">
        <h3 class="modal-title">Translate Via <span class="external-translate-api-name">{{config.type}}</span></h3>
    </div>
    <div class="modal-body">
        <div class="container">
            <div class="col-lg-12">
                <div class="alert alert-warning">
                    This action will launch translating process via external API.
                    Make sure you are doing the right thing and choose whether you want to override
                    all existing translations or update only absent.
                </div>

                <div class="alert alert-danger" ng-show="errorDetected">
                    {{errorMessage}}
                </div>

            </div>
            <div class="col-lg-6">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-md-8">
                            Translation Provider
                        </label>
                        <div class="col-md-4">
                            <span class="external-translate-api-name">{{config.type}}</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-8">
                            Translation Group
                        </label>
                        <div class="col-md-4" ng-show="config.group">{{config.group}}</div>
                        <div class="col-md-4" ng-show="!config.group">All groups</div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-8">
                            Source Country
                        </label>
                        <div class="col-md-4">
                            <i class="flag-icon-big flag-icon flag-icon-{{config.srcCountry.isoCode | lowercase}}"></i>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-8">
                            Destination Country
                        </label>
                        <div class="col-md-4">
                            <i class="flag-icon-big flag-icon flag-icon-{{config.destCountry.isoCode | lowercase}}"></i>
                        </div>
                    </div>
                </form>
            </div>

            <div class="col-lg-6">
                <div class="radio radio-danger radio-inline radio-xl">
                    <input type="radio" id="overrideRadio" value="true" ng-model="config.override" checked>
                    <label for="overrideRadio"> Override all translations </label>
                </div>

                <div class="radio radio-info radio-inline radio-xl">
                    <input type="radio" id="extendRadio" value="false" ng-model="config.override">
                    <label for="extendRadio"> Extend existing translations </label>
                </div>
            </div>

        </div>

    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-disabled="inProcess" ng-click="translate()">Translate</button>
        <button class="btn btn-warning" type="button" ng-click="$dismiss('cancel')">Cancel</button>
    </div>
</script>