<div class="content">
    <div class="container">

        <div class="row">
            <div class="col-sm-12">

                <div class="portlet i18n-portlet">
                    <div class="portlet-heading bg-primary">

                        <div class="dropdown pull-left" uib-dropdown>
                            <a class="i18n-dropdown-toggle" uib-dropdown-toggle><i class="zmdi zmdi-more-vert"></i></a>

                            <ul class="dropdown-menu" role="menu" uib-dropdown-menu>
                                <li><a href="#"><i class="fa fa-globe"></i> Translate via Yandex API</a></li>
                                <li><a href="#"><i class="fa fa-globe"></i> Translate via Google API</a></li>
                                <li class="divider"></li>
                                <li><a href="#"><i class="fa fa-edit"></i> Download in JSON</a></li>
                                <li><a href="#"><i class="fa fa-edit"></i> Download in CSV</a></li>
                                <li><a href="#"><i class="fa fa-edit"></i> Download in TSV</a></li>
                                <li><a href="#"><i class="fa fa-edit"></i> Download in XLS</a></li>
                                <li class="divider"></li>
                                <li><a href="#"><i class="fa fa-play"></i> Clear translations for current destination country (Russian)</a></li>
                                <li><a href="#"><i class="fa fa-play"></i> Clear translations for all countries (except current)</a></li>
                            </ul>
                        </div>
                        <h3 class="portlet-title">
                            <span class="i18n-chosen-part" ng-repeat="part in chosenGroupParts">
                                {{part}}.
                            </span>
                        </h3>
                        <div class="portlet-widgets i18n-widget">

                            Target:

                            <div class="i18n-country" uib-dropdown>
                                <a href class="dropdown-toggle card-drop" aria-expanded="false" uib-dropdown-toggle>
                                    <i class="flag-icon flag-icon-{{currentCountry.isoCode | lowercase}}"></i>
                                </a>
                                <ul class="dropdown-menu" role="menu" uib-dropdown-menu>
                                    <li ng-repeat="country in availableCountries" ng-click="changeLanguage(country)">
                                        <a href>
                                            <i class="flag-icon flag-icon-{{country.isoCode | lowercase}}"></i>
                                            <span class="country-name">{{country.name}}</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div id="bg-primary1" class="panel-collapse collapse in">
                        <div class="portlet-body">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                            Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                            unknown printer took a galley of type and scrambled it to make a type specimen book.
                        </div>
                        <div class="panel-disabled" ng-show="false"><div class="loader-1"></div></div>
                    </div>
                </div>

            </div><!-- end col -->
        </div>
        <!-- end row -->

    </div>
</div>