<div class="content">
    <div class="container">

        <div class="row">
            <div class="col-sm-12">

                <div class="portlet i18n-portlet">
                    <div class="portlet-heading bg-primary">

                        <button class="btn btn-xs btn-danger btn-circle pull-left" ng-click="resetFilter()"
                                ng-show="chosenGroupParts.length"><i class="fa fa-times"></i></button>
                        <div class="dropdown pull-left" uib-dropdown>
                            <a class="i18n-dropdown-toggle" uib-dropdown-toggle><i class="zmdi zmdi-attachment"></i></a>

                            <ul class="dropdown-menu" role="menu" uib-dropdown-menu>
                                <li><a href="#"><i class="zmdi zmdi-translate"></i> Translate via Yandex API</a></li>
                                <li><a href="#"><i class="fa fa-google"></i> Translate via Google API</a></li>
                                <li class="divider"></li>
                                <li><a href="#"><i class="zmdi zmdi-code"></i> Download in JSON</a></li>
                                <li><a href="#"><i class="zmdi zmdi-collection-text"></i> Download in CSV</a></li>
                                <li><a href="#"><i class="zmdi zmdi-collection-text"></i> Download in TSV</a></li>
                                <li><a href="#"><i class="zmdi zmdi-format-align-left"></i> Download in XLS</a></li>
                                <li class="divider"></li>
                                <li><a href="#"><i class="zmdi zmdi-code"></i> Upload in JSON</a></li>
                                <li><a href="#"><i class="zmdi zmdi-collection-text"></i> Upload in CSV</a></li>
                                <li><a href="#"><i class="zmdi zmdi-collection-text"></i> Upload in TSV</a></li>
                                <li><a href="#"><i class="zmdi zmdi-format-align-left"></i> Upload in XLS</a></li>
                                <li class="divider"></li>
                                <li><a href="#"><i class="zmdi zmdi-delete"></i> Clear translations for current
                                    destination country (Russian)</a></li>
                                <li><a href="#"><i class="zmdi zmdi-delete"></i> Clear translations for all countries
                                    (except current)</a></li>
                            </ul>
                        </div>
                        <h3 class="portlet-title">
                            <span ng-repeat="part in chosenGroupParts">
                                <span class="i18n-chosen-part" ng-click="removeGroupParts($index)">
                                {{part}}
                                </span>
                                <span ng-if="!$last">.</span>
                            </span>

                        </h3>

                        <div class="portlet-widgets i18n-widget">

                            Target:

                            <div class="country-block i18n-country" uib-dropdown>
                                <a href class="dropdown-toggle card-drop" aria-expanded="false" uib-dropdown-toggle>
                                    <i class="flag-icon flag-icon-{{targetCountry.isoCode | lowercase}}"></i>
                                </a>
                                <ul class="dropdown-menu" role="menu" uib-dropdown-menu>
                                    <li ng-repeat="country in availableCountries"
                                        ng-click="changeTargetCountry(country)">
                                        <a href>
                                            <i class="flag-icon flag-icon-{{country.isoCode | lowercase}}"></i>
                                            <span class="country-name">{{country.name}}</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div id="bg-primary1" class="panel-collapse collapse in">
                        <div class="portlet-body">

                            <div class="col-lg-6">
                                <div class="card-box widget-user i18n-counterup">
                                    <div class="text-center">
                                        <h2 class="text-custom" count-to="{{currentGroupView.groups.length}}" value="0"
                                            duration="0.5"></h2>
                                        <h5>Groups</h5>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="card-box widget-user i18n-counterup">
                                    <div class="text-center">
                                        <h2 class="text-custom" count-to="{{currentGroupView.translations.length}}"
                                            value="0" duration="0.5"></h2>
                                        <h5>Properties</h5>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="panel panel-custom panel-border">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Nested Groups
                                            <button class="btn btn-success extra-small i18n-add-button btn-circle"><i
                                                    class="fa fa-plus"></i></button>
                                        </h3>
                                    </div>
                                    <div class="panel-body">
                                        <p class="i18n-nested-groups">
                                            <span class="label label-inverse"
                                                  ng-repeat="group in currentGroupView.groups"
                                                  ng-click="openGroup(group)">{{group}}</span>
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="row" ng-show="chosenGroupParts.length">
                                <div class="col-lg-12">
                                    <div class="panel panel-custom panel-border">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">Translations
                                                <button class="btn btn-success extra-small i18n-add-button btn-circle"
                                                        ng-click="addNewTranslation()">
                                                    <i class="fa fa-plus"></i>
                                                </button>
                                            </h3>
                                        </div>
                                        <div class="panel-body">
                                            <table class="table m-b-0" id="translationsTable">
                                                <thead>
                                                <tr>
                                                    <th>Translation Key</th>
                                                    <th width="25%">Source</th>
                                                    <th width="25%">Target</th>
                                                    <th>Last modified</th>
                                                    <th>Actions</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr ng-repeat="translation in currentGroupView.translations">
                                                    <td>
                                                    <span editable-text="translation.key" e-name="key" e-form="translationForm"
                                                          e-ng-disabled="!inserted.new">
                                                        {{translation.key}}
                                                    </span>
                                                    </td>
                                                    <td>{{translation.src}}</td>
                                                    <td>
                                                    <span editable-text="translation.target" e-name="target" e-form="translationForm"
                                                          style="word-break: break-all">
                                                        {{translation.target}}
                                                    </span>
                                                    </td>
                                                    <td>{{translation.lastModified | date:'dd/MM/yyyy hh:mm:ss'}}</td>
                                                    <td class="actions">
                                                        <!-- form -->
                                                        <form editable-form name="translationForm"
                                                              onbeforesave="saveTranslation($data, translation)"
                                                              ng-show="translationForm.$visible" shown="inserted == translation">
                                                            <a href class="text-success" ng-disabled="translationForm.$waiting"
                                                               ng-click="translationForm.$submit()"><i class="fa fa-save"></i></a>
                                                            <a href class="text-danger" ng-disabled="translationForm.$waiting"
                                                               ng-click="cancelFormEditing(translationForm)"><i
                                                                    class="fa fa-times"></i></a>
                                                        </form>
                                                        <div class="buttons" ng-show="!translationForm.$visible">
                                                            <a href class="text-success" ng-click="translationForm.$show()"><i
                                                                    class="fa fa-pencil"></i></a>
                                                            <a href class="text-danger" ng-click="removeTranslation(translation)"><i
                                                                    class="fa fa-trash-o"></i></a>
                                                        </div>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-disabled" ng-show="translationLoading">
                            <div class="loader-1"></div>
                        </div>
                    </div>
                </div>

            </div><!-- end col -->
        </div>
        <!-- end row -->

    </div>
</div>