<div class="left side-menu">
    <div class="sidebar-inner slimscrollleft">

        <div class="country-block">
            <div class="" uib-dropdown>
                <a href class="dropdown-toggle card-drop" data-toggle="dropdown" aria-expanded="false" uib-dropdown-toggle>
                    <i class="flag-icon flag-icon-{{currentCountry.isoCode | lowercase}}"></i>
                </a>
                <ul class="dropdown-menu" role="menu" uib-dropdown-menu>
                    <li ng-repeat="country in availableCountries" ng-click="changeLanguage(country)">
                        <a href>
                            <i class="flag-icon flag-icon-{{country.isoCode | lowercase}}"></i>
                            <span class="country-name">{{country.name}}</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- User -->
        <div class="user-box">
            <div class="user-img">
                <img src="dist/images/users/avatar-1.jpg" alt="user-img" title="Mat Helme" class="img-circle img-thumbnail img-responsive">
                <div class="user-status offline"><i class="zmdi zmdi-dot-circle"></i></div>
            </div>
            <h5><a href="#">Mat Helme</a> </h5>
            <ul class="list-inline">
                <li>
                    <a href="#" >
                        <i class="zmdi zmdi-settings"></i>
                    </a>
                </li>

                <li>
                    <a href="#" class="text-custom">
                        <i class="zmdi zmdi-power"></i>
                    </a>
                </li>
            </ul>
        </div>
        <!-- End User -->

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <ul>
                <li class="text-muted menu-title">{{'navigation' | translate}}</li>

                <li>
                    <a href="#/" class="waves-effect" ng-class="{'active':currentState == '/'}"><i class="zmdi zmdi-view-dashboard"></i> <span> Dashboard </span> </a>
                </li>

                <li>
                    <a href="#/list" class="waves-effect" ng-class="{'active':currentState == '/list'}"><i class="zmdi zmdi-format-list-bulleted"></i> <span> Published Posts </span> </a>
                </li>

                <li>
                    <a href="#/category" class="waves-effect" ng-class="{'active':currentState == '/category'}"><i class="fa fa-object-group"></i> <span> Categories </span> </a>
                </li>

                <li>
                    <a href="#/faq" class="waves-effect" ng-class="{'active':currentState == '/faq'}"><i class="fa fa-question"></i> <span> Questions & Answers </span> </a>
                </li>

                <li>
                    <a href="#/media" class="waves-effect" ng-class="{'active':currentState == '/media'}"><i class="fa fa-image"></i> <span> Media Gallery </span> </a>
                </li>

                <li>
                    <a href="#/users" class="waves-effect" ng-class="{'active':currentState == '/users'}"><i class="fa fa-users"></i> <span> User Management </span> </a>
                </li>

                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect"><i class="zmdi zmdi-settings"></i> <span> Settings </span> <span class="menu-arrow"></span></a>
                    <ul class="list-unstyled">
                        <li>
                            <a href="#/i18n" class="waves-effect" ng-class="{'active':currentState == '/i18n'}"><i class="zmdi zmdi-globe"></i> <span> I18N Panel </span> </a>
                        </li>

                        <li>
                            <a href="#/system" class="waves-effect" ng-class="{'active':currentState == '/system'}"><i class="fa fa-wrench"></i> <span> System Settings </span> </a>
                        </li>

                        <li>
                            <a href="#/account" class="waves-effect" ng-class="{'active':currentState == '/account'}"><i class="fa fa-user"></i> <span> Account Settings </span> </a>
                        </li>

                        <li>
                            <a href="#/cronjob" class="waves-effect" ng-class="{'active':currentState == '/cronjob'}"><i class="fa fa-clock-o"></i> <span> Cron Jobs </span> </a>
                        </li>
                    </ul>
                </li>

            </ul>
            <div class="clearfix"></div>
        </div>
        <!-- Sidebar -->
        <div class="clearfix"></div>

    </div>

</div>