<div class="left side-menu">
    <div class="sidebar-inner slimscrollleft">

        <div class="country-block">
            <div class="" uib-dropdown>
                <a href class="dropdown-toggle card-drop" data-toggle="dropdown" aria-expanded="false" uib-dropdown-toggle>
                    <i class="flag-icon flag-icon-{{currentCountry.isoCode | lowercase}}"></i>
                </a>
                <ul class="dropdown-menu" role="menu" uib-dropdown-menu>
                    <li ng-repeat="country in availableCountries" ng-click="changeLanguage(country.defaultLanguageIso)">
                        <a href>
                            <i class="flag-icon flag-icon-{{country.isoCode | lowercase}}"></i>
                            <span class="country-name">{{country.name}}</span>
                        </a>
                    </li>
                </ul>
            </div>

            <button ng-click="changeLanguage('ru')" translate="BUTTON_LANG_RU"></button>
            <button ng-click="changeLanguage('en')" translate="BUTTON_LANG_EN"></button>
        </div>

        <!-- User -->
        <div class="user-box">
            <div class="user-img">
                <img src="dist/images/users/avatar-1.jpg" alt="user-img" title="Mat Helme" class="img-circle img-thumbnail img-responsive">
                <div class="user-status offline"><i class="zmdi zmdi-dot-circle"></i></div>
            </div>
            <h5><a href="#">Mat Helme</a> </h5>
            <ul class="list-inline">
                <li>
                    <a href="#" >
                        <i class="zmdi zmdi-settings"></i>
                    </a>
                </li>

                <li>
                    <a href="#" class="text-custom">
                        <i class="zmdi zmdi-power"></i>
                    </a>
                </li>
            </ul>
        </div>
        <!-- End User -->

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <ul>
                <li class="text-muted menu-title">{{'navigation' | translate}}</li>

                <li>
                    <a href="#/" class="waves-effect" ng-class="{'active':currentState == '/'}"><i class="zmdi zmdi-view-dashboard"></i> <span> Dashboard </span> </a>
                </li>

                <li>
                    <a href="#/list" class="waves-effect" ng-class="{'active':currentState == '/list'}"><i class="zmdi zmdi-format-list-bulleted"></i> <span> Published Posts </span> </a>
                </li>

                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect"><i class="zmdi zmdi-invert-colors"></i> <span> User Interface </span> <span class="menu-arrow"></span></a>
                    <ul class="list-unstyled">
                        <li><a href="ui-buttons.html">Buttons</a></li>
                        <li><a href="ui-cards.html">Cards</a></li>
                        <li><a href="ui-draggable-cards.html">Draggable Cards</a></li>
                    </ul>
                </li>

            </ul>
            <div class="clearfix"></div>
        </div>
        <!-- Sidebar -->
        <div class="clearfix"></div>

    </div>

</div>