<!-- Start content -->
<div class="content" style="position: relative;">

    <div class="container">

        <div class="row">
            <div class="col-md-12" style="position: relative">
                <div class="dk-loading" ng-show="loadingProcess">
                    <div class="dk-loading-animation"></div>
                </div>
                <div class="card-box task-detail">
                    <div class="media m-b-20 m-t-0">
                        <div class="media-left">
                            <a href="#"> <img class="media-object img-circle" alt="64x64" src="/dist/images/users/avatar-2.jpg" style="width: 48px; height: 48px;"> </a>
                        </div>
                        <div class="media-body">
                            <div class="col-md-1">
                                <h4 class="media-heading m-b-0">{{postEntry.author}}</h4>
                            </div>
                            <div class="col-md-11">
                                <button type="button"
                                        title="Post entry is published. Click to unpublish"
                                        class="btn btn-circle btn-lg btn-success pull-right"
                                        ng-show="postEntry.isPublished"
                                        ng-click="postEntry.isPublished = !postEntry.isPublished">
                                    <i class="fa fa-check"></i>
                                </button>
                                <button type="button"
                                        title="Post entry is unpublished. Click to publish"
                                        class="btn btn-circle btn-lg btn-danger pull-right"
                                        ng-show="!postEntry.isPublished"
                                        ng-click="postEntry.isPublished = !postEntry.isPublished">
                                    <i class="fa fa-stop"></i>
                                </button>

                                <button type="button"
                                        title="Post entry is allowed to comment. Click to deny"
                                        class="btn btn-circle btn-lg btn-success pull-right m-r-10"
                                        ng-show="postEntry.isCommentEnabled"
                                        ng-click="postEntry.isCommentEnabled = !postEntry.isCommentEnabled">
                                    <i class="zmdi zmdi-comments"></i>
                                </button>
                                <button type="button"
                                        title="Post entry is denied to coment. Click to allow"
                                        class="btn btn-circle btn-lg btn-danger pull-right m-r-10"
                                        ng-show="!postEntry.isCommentEnabled"
                                        ng-click="postEntry.isCommentEnabled = !postEntry.isCommentEnabled">
                                    <i class="zmdi zmdi-comment-alert"></i>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card-box">
                                <form class="form-horizontal">

                                    <div class="form-group" ng-class="{'blog-entry-form-error' : postEntryFormError.title}" ng-click="removeAttribute('title')">
                                        <label class="col-md-1 control-label">Blog Entry Title</label>
                                        <div class="col-md-11">
                                            <input type="text" class="form-control" ng-model="postEntry.title" placeholder="Enter title..." >
                                        </div>
                                    </div>

                                    <div class="form-group" ng-class="{'blog-entry-form-error' : postEntryFormError.permalink}" ng-click="removeAttribute('permalink')">
                                        <label class="col-md-1 control-label">Permalink</label>
                                        <div class="col-md-9">
                                            <input name="permalink" type="text" class="form-control" ng-model="postEntry.permalink" placeholder="Enter permalink..." >
                                            <span ng-show="postEntryFormError.permalink.message" class="error">{{postEntryFormError.permalink.message}}</span>
                                        </div>
                                        <div class="col-md-2">
                                            <button type="button" class="btn btn-info center-block" ng-disabled="postEntry.permalink || !postEntry.title" ng-click="generatePermalink()">Generate Permalink</button>
                                        </div>
                                    </div>

                                    <div class="form-group" ng-class="{'blog-entry-form-error' : postEntryFormError.caption}" ng-click="removeAttribute('caption')">
                                        <label class="col-md-1 control-label">Caption Image</label>
                                        <div class="col-md-11">
                                            <div class="captionHolder">
                                                <div class="col-md-5" ng-show="postEntry.captionSrc">
                                                    <img class="img-thumbnail caption-image" ng-src="{{postEntry.captionSrc}}" fallback-src>
                                                </div>
                                                <div class="col-md-2 btn-group">
                                                    <button type="button" class="btn btn-info center-block waves-effect waves-light" ng-click="openImageGallery(true)"><i class="fa fa-image"></i></button>
                                                    <button type="button" class="btn btn-danger center-block waves-effect waves-light" ng-click="deleteCaption()" ng-show="postEntry.captionSrc"><i class="fa fa-trash"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group" ng-class="{'blog-entry-form-error' : postEntryFormError.content}" ng-click="removeAttribute('content')">
                                        <label class="col-md-1 control-label">Contents</label>
                                        <div class="col-md-11">
                                            <button type="button" class="btn btn-info btn-xs pull-right waves-effect waves-light" ng-click="openImageGallery()"><i class="fa fa-image"></i></button>
                                            <textarea ui-tinymce="tinyMceOptions" ng-model="postEntry.content"></textarea>
                                        </div>
                                    </div>

                                    <div class="form-group" ng-class="{'blog-entry-form-error' : postEntryFormError.countries}" ng-click="removeAttribute('countries')">
                                        <label class="col-md-1 control-label">Countries</label>
                                        <div class="col-md-11">
                                            <tags-input ng-model="postEntry.countries"
                                                        display-property="name"
                                                        placeholder="Add a country"
                                                        replace-spaces-with-dashes="false"
                                                        template="tag-country-template">
                                                <auto-complete source="loadCountries($query)"
                                                               min-length="0"
                                                               load-on-focus="true"
                                                               load-on-empty="true"
                                                               max-results-to-show="32"
                                                               template="autocomplete-country-template"></auto-complete>
                                            </tags-input>
                                        </div>
                                    </div>

                                    <div class="form-group" ng-class="{'blog-entry-form-error' : postEntryFormError.categories}" ng-click="removeAttribute('categories')">
                                        <label class="col-md-1 control-label">
                                            <i class="fa fa-question-circle text-warning"
                                               tooltip-placement="right-top"
                                               tooltip-class="customTooltip"
                                               uib-tooltip="Categories depend on chosen countries. You can choose only those categories that are available in ALL chosen countries. To edit category countries, please forward to category section."></i>
                                            &nbsp;Categories
                                        </label>
                                        <div class="col-md-11">
                                            <tags-input ng-model="postEntry.categories"
                                                        display-property="nameKey"
                                                        placeholder="Add a category"
                                                        replace-spaces-with-dashes="false"
                                                        template="tag-category-template">
                                                <auto-complete source="loadCategories($query)"
                                                               min-length="0"
                                                               load-on-focus="true"
                                                               load-on-empty="true"
                                                               max-results-to-show="32"
                                                               template="autocomplete-category-template"></auto-complete>
                                            </tags-input>
                                        </div>
                                    </div>


                                </form>
                            </div>
                        </div><!-- end col -->
                    </div>

                    <div class="row">
                        <div class="col-sm-12 pull-right">
                            <div class="text-right">
                                <button type="button" class="btn btn-success waves-effect waves-light" ng-click="saveBlogEntry()">Save</button>
                                <button type="button" class="btn btn-default waves-effect" ng-click="closeEditPanel()">Cancel</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div><!-- end col -->

        </div>
        <!-- end row -->


    </div> <!-- container -->

</div> <!-- content -->

<script type="text/ng-template" id="tag-country-template">
    <div class="tag-template">
        <div class="left-panel">
            <i class="flag-icon flag-icon-{{data.isoCode | lowercase}}" ng-if="data.isoCode"></i>
        </div>
        <div class="right-panel">
            <span>{{$getDisplayText()}}</span>
            <a class="remove-button" ng-click="$removeTag()">&#10006;</a>
        </div>
    </div>
</script>

<script type="text/ng-template" id="autocomplete-country-template">
    <div class="autocomplete-template">
        <div class="left-panel">
            <i class="flag-icon flag-icon-{{data.isoCode | lowercase}}" ng-if="data.isoCode"></i>
        </div>
        <div class="right-panel">
            <span ng-bind-html="$highlight($getDisplayText())"></span>
        </div>
    </div>
</script>

<script type="text/ng-template" id="tag-category-template">
    <div class="tag-template">
        <div class="right-panel">
            <span>{{$getDisplayText() | translate}}</span>
            <a class="remove-button" ng-click="$removeTag()">&#10006;</a>
        </div>
    </div>
</script>

<script type="text/ng-template" id="autocomplete-category-template">
    <div class="autocomplete-template">
        <div class="right-panel">
            <span ng-bind-html="$highlight($getDisplayText() | translate)"></span>
        </div>
    </div>
</script>


<div id="imageGalleryModal" class="modal-demo">
    <button type="button" class="close" ng-click="closeImageGallery()">
        <span>×</span><span class="sr-only">Close</span>
    </button>
    <h4 class="custom-modal-title">Image Gallery</h4>
    <div class="custom-modal-text">
        <div class="content" style="position: relative">

            <div class="dk-loading" ng-show="loadingGalleryProcess">
                <div class="dk-loading-animation"></div>
            </div>

            <div class="container">

                <uib-pagination
                        total-items="galleryPaging.totalItems"
                        items-per-page="galleryPaging.itemsPerPage"
                        ng-model="galleryPaging.currentPage"
                        max-size="galleryPaging.maxSize"
                        class="pagination-sm"
                        boundary-link-numbers="true"
                        rotate="false"
                        ng-click="loadGalleryPart()">
                </uib-pagination>

                <div class="row port m-b-20 imageContainer">
                    <div class="col-sm-6 col-lg-3 col-md-4" ng-repeat="image in galleryImages">
                        <div class="imageGalleryItem">
                            <div class="thumb" ng-class="{'chosen' : image == selectedImage}" ng-click="chooseImage(image)" ng-style="{backgroundImage: 'url('+ image.thumbImgSrc +')'}">
                            </div>
                        </div>
                    </div>
                </div> <!-- End row -->

                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="pull-right">
                            <button type="file" ngf-select="uploadImage($file, $invalidFiles)" accept="image/*" ngf-max-size="2MB" class="btn btn-xs btn-success waves-effect waves-light">Upload</button>
                            <button type="button" class="btn btn-xs btn-info waves-effect waves-light" ng-click="addChosenImage()" ng-disabled="!selectedImage">OK</button>
                            <button type="button" class="btn btn-xs btn-danger waves-effect waves-light" ng-click="closeImageGallery()">Cancel</button>
                        </div>

                    </div>
                </div>
            </div> <!-- container -->

        </div> <!-- content -->
    </div>
</div>