<!-- Start content -->
<div class="content" style="position: relative;">

    <div class="container">

        <div class="row">
            <div class="col-md-12" style="position: relative">
                <div class="dk-loading" ng-show="loadingProcess">
                    <div class="dk-loading-animation"></div>
                </div>
                <div class="card-box task-detail">
                    <div class="media m-b-20 m-t-0">
                        <div class="media-left">
                            <a href="#"> <img class="media-object img-circle" alt="64x64" src="/dist/images/users/avatar-2.jpg" style="width: 48px; height: 48px;"> </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading m-b-0">{{postEntry.author}}</h4>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card-box">
                                <form class="form-horizontal" method="post">
                                    <div class="form-group">
                                        <label class="col-md-1 control-label">Blog Entry Title</label>
                                        <div class="col-md-11">
                                            <input type="text" class="form-control" value="{{postEntry.title ? postEntry.title : 'Enter title...'}}">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-1 control-label">Permalink</label>
                                        <div class="col-md-11">
                                            <input type="text" class="form-control" value="Enter permalink (optional)...">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-1 control-label">Contents</label>
                                        <div class="col-md-11">
                                            <button class="btn btn-info btn-xs pull-right waves-effect waves-light" ng-click="openImageGallery()"><i class="fa fa-image"></i></button>
                                            <textarea ui-tinymce="tinyMceOptions" ng-model="postEntry.content"></textarea>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-1 control-label">Countries</label>
                                        <div class="col-md-11">
                                            <tags-input ng-model="chosenCountries"
                                                        display-property="name"
                                                        placeholder="Add a country"
                                                        replace-spaces-with-dashes="false"
                                                        template="tag-template">
                                                <auto-complete source="loadCountries($query)"
                                                               min-length="0"
                                                               load-on-focus="true"
                                                               load-on-empty="true"
                                                               max-results-to-show="32"
                                                               template="autocomplete-template"></auto-complete>
                                            </tags-input>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div><!-- end col -->
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="text-right m-t-30">
                                <button type="submit" class="btn btn-success waves-effect waves-light">Save</button>
                                <button type="button" class="btn btn-default waves-effect">Cancel</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div><!-- end col -->

        </div>
        <!-- end row -->


    </div> <!-- container -->

</div> <!-- content -->

<script type="text/ng-template" id="tag-template">
    <div class="tag-template">
        <div class="left-panel">
            <i class="flag-icon flag-icon-{{data.isoCode | lowercase}}" ng-if="data.isoCode"></i>
        </div>
        <div class="right-panel">
            <span>{{$getDisplayText()}}</span>
            <a class="remove-button" ng-click="$removeTag()">&#10006;</a>
        </div>
    </div>
</script>

<script type="text/ng-template" id="autocomplete-template">
    <div class="autocomplete-template">
        <div class="left-panel">
            <i class="flag-icon flag-icon-{{data.isoCode | lowercase}}" ng-if="data.isoCode"></i>
        </div>
        <div class="right-panel">
            <span ng-bind-html="$highlight($getDisplayText())"></span>
        </div>
    </div>
</script>


<div id="imageGalleryModal" class="modal-demo">
    <button type="button" class="close" ng-click="closeImageGallery()">
        <span>×</span><span class="sr-only">Close</span>
    </button>
    <h4 class="custom-modal-title">Image Gallery</h4>
    <div class="custom-modal-text">
        <div class="content" style="position: relative">

            <div class="dk-loading" ng-show="loadingGalleryProcess">
                <div class="dk-loading-animation"></div>
            </div>

            <div class="container">

                <uib-pagination
                        total-items="galleryPaging.totalItems"
                        items-per-page="galleryPaging.itemsPerPage"
                        ng-model="galleryPaging.currentPage"
                        max-size="galleryPaging.maxSize"
                        class="pagination-sm"
                        boundary-link-numbers="true"
                        rotate="false"
                        ng-click="loadGalleryPart()">
                </uib-pagination>

                <div class="row port m-b-20 imageContainer">
                    <div class="portfolioContainer">
                        <div class="col-sm-6 col-lg-3 col-md-4" ng-repeat="image in galleryImages">
                            <div class="thumb" ng-class="{'chosen' : image == selectedImage}" ng-click="chooseImage(image)">
                                <img ng-src="{{image}}" class="thumb-img" alt="work-thumbnail">
                            </div>
                        </div>
                    </div>
                </div> <!-- End row -->

                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="pull-right">
                            <button type="file" ngf-select="uploadImage($file, $invalidFiles)" accept="image/*" ngf-max-size="2MB" class="btn btn-xs btn-success waves-effect waves-light">Upload</button>
                            <button class="btn btn-xs btn-info waves-effect waves-light" ng-click="addChosenImage()" ng-disabled="!selectedImage">OK</button>
                            <button class="btn btn-xs btn-danger waves-effect waves-light" ng-click="closeImageGallery()">Cancel</button>
                        </div>

                    </div>
                </div>


            </div> <!-- container -->

        </div> <!-- content -->
    </div>
</div>