<div class="content" style="position: relative">
    <div class="dk-loading" ng-show="loadingProcess">
        <div class="dk-loading-animation"></div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="card-box">

                    <h4 class="header-title m-t-0 m-b-30">Database Properties
                        <button class="btn btn-circle btn-success waves-effect waves-light pull-right" title="Add new Property" ng-click="addNewProperty()"><i class="fa fa-plus"></i></button>
                    </h4>

                    <table class="table m-b-0" id="propertyTable">
                        <thead>
                        <tr>
                            <th>
                                Default
                                <i class="fa fa-question-circle text-warning"
                                   tooltip-placement="right-top"
                                   tooltip-class="customTooltip"
                                   uib-tooltip="Check sign indicates that there is no specific property for such key in current country and default value is taken"></i>
                            </th>
                            <th>Property Key</th>
                            <th width="50%">Property Value</th>
                            <th>Last Modified</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="property in allProperties">
                            <td ng-mouseenter="showDefaultBtn=true" ng-mouseleave="showDefaultBtn=false">
                                <i class="fa fa-check text-success" ng-show="!property.country"></i>
                                <i class="fa fa-minus text-info" ng-show="property.country"></i>

                                <button ng-show="showDefaultBtn && property.country" class="btn btn-xs extra-small btn-circle btn-success waves-effect waves-light" title="Make this value default" ng-click="makeDefault(property)"><i class="fa fa-check"></i></button>
                                <button ng-show="showDefaultBtn && !property.country" class="btn btn-xs extra-small btn-circle btn-info waves-effect waves-light" title="Create a copy for current country" ng-click="copyForCountry(property)"><i class="fa fa-minus"></i></button>
                            </td>
                            <td>
                            <span editable-text="property.key" e-name="key" e-form="propertyForm" e-ng-disabled="!inserted.new">
                                {{property.key}}
                            </span>
                            </td>
                            <td>
                            <span editable-text="property.value" e-name="value" e-form="propertyForm" style="word-break: break-all">
                                {{property.value}}
                            </span>
                            </td>
                            <td>{{property.lastModified | date:'dd/MM/yyyy hh:mm:ss'}}</td>
                            <td class="actions">
                                <!-- form -->
                                <form editable-form name="propertyForm" onbeforesave="saveProperty($data, property)" ng-show="propertyForm.$visible" shown="inserted == property">
                                    <a href class="text-success" ng-disabled="propertyForm.$waiting" ng-click="propertyForm.$submit()"><i class="fa fa-save"></i></a>
                                    <a href class="text-danger" ng-disabled="propertyForm.$waiting" ng-click="cancelFormEditing(propertyForm)"><i class="fa fa-times"></i></a>
                                </form>
                                <div class="buttons" ng-show="!propertyForm.$visible">
                                    <a href class="text-success" ng-click="propertyForm.$show()"><i class="fa fa-pencil"></i></a>
                                    <a href class="text-danger" ng-click="removeProperty(property)"><i class="fa fa-trash-o"></i></a>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </div><!-- end col -->
        </div>

        <div class="row">

            <div class="col-lg-4">
                <div class="portlet permalink-config">
                    <div class="portlet-heading bg-success">
                        <h5 class="portlet-title">
                            Permalink Generation
                        </h5>
                        <div class="clearfix"></div>
                    </div>
                    <div class="panel-collapse collapse in">
                        <div class="portlet-body">

                            <div class="row">
                                <div class="col-lg-9">
                                    <b>Default</b>
                                    <p><small>(http://www.reifen.de/magazin/?p=123)</small></p>
                                </div>
                                <div class="col-lg-3">
                                    <switch ng-model="specificProperties.permalinkGenerationStrategy.value" value="default" ng-change="updateProperty(specificProperties.permalinkGenerationStrategy)" class="green"></switch>
                                </div>
                            </div>

                            <hr>

                            <div class="row">
                                <div class="col-lg-9">
                                    <b>Day and name</b>
                                    <p><small>(http://www.reifen.de/magazin/2016/08/17/sample-post/)</small></p>
                                </div>
                                <div class="col-lg-3">
                                    <switch ng-model="specificProperties.permalinkGenerationStrategy.value" value="dayAndName" ng-change="updateProperty(specificProperties.permalinkGenerationStrategy)" class="green"></switch>
                                </div>
                            </div>

                            <hr>

                            <div class="row">
                                <div class="col-lg-9">
                                    <b>Month and name</b>
                                    <p><small>(http://www.reifen.de/magazin/2016/08/sample-post/)</small></p>
                                </div>
                                <div class="col-lg-3">
                                    <switch ng-model="specificProperties.permalinkGenerationStrategy.value" value="monthAndName" ng-change="updateProperty(specificProperties.permalinkGenerationStrategy)" class="green"></switch>
                                </div>
                            </div>

                            <hr>

                            <div class="row">
                                <div class="col-lg-9">
                                    <b>Numeric</b>
                                    <p><small>(http://www.reifen.de/magazin/archives/123)</small></p>
                                </div>
                                <div class="col-lg-3">
                                    <switch ng-model="specificProperties.permalinkGenerationStrategy.value" value="numeric" ng-change="updateProperty(specificProperties.permalinkGenerationStrategy)" class="green"></switch>
                                </div>
                            </div>

                            <hr>

                            <div class="row">
                                <div class="col-lg-9">
                                    <b>Post name</b>
                                    <p><small>(http://www.reifen.de/magazin/sample-post/)</small></p>
                                </div>
                                <div class="col-lg-3">
                                    <switch ng-model="specificProperties.permalinkGenerationStrategy.value" value="postName" ng-change="updateProperty(specificProperties.permalinkGenerationStrategy)" class="green"></switch>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-disabled" ng-show="propertyLoadingProcess"><div class="loader-1"></div></div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="portlet">
                    <div class="portlet-heading bg-purple">
                        <h5 class="portlet-title">
                            Property Configuration
                        </h5>
                        <div class="clearfix"></div>
                    </div>
                    <div class="panel-collapse collapse in">
                        <div class="portlet-body">

                            <div class="row">
                                <div class="col-lg-9">
                                    Auto create default property for new properties
                                </div>
                                <div class="col-lg-3">
                                    <span class="green switch green ng-valid ng-not-empty"
                                          ng-click="toggleProperty(specificProperties.autoCreateDefault)"
                                          ng-class="{ checked: (specificProperties.autoCreateDefault.value == 'true'), disabled:undefined }"
                                          ng-model="specificProperties.autoCreateDefault.value">
                                        <small></small>
                                    </span>
                                </div>
                            </div>

                            <hr>

                            <div class="row">
                                <div class="col-lg-9">
                                    Auto delete default properties
                                </div>
                                <div class="col-lg-3">
                                    <span class="green switch green ng-valid ng-not-empty"
                                          ng-click="toggleProperty(specificProperties.autoDeleteDefault)"
                                          ng-class="{ checked: (specificProperties.autoDeleteDefault.value == 'true'), disabled:undefined }"
                                          ng-model="specificProperties.autoDeleteDefault.value">
                                        <small></small>
                                    </span>
                                </div>
                            </div>

                            <hr>

                            <div class="row">
                                <div class="col-lg-9">
                                    Use System Property Resource
                                </div>
                                <div class="col-lg-3">
                                    <span class="green switch green ng-valid ng-not-empty"
                                          ng-click="toggleProperty(specificProperties.useSystemProperties)"
                                          ng-class="{ checked: (specificProperties.useSystemProperties.value == 'true'), disabled:undefined }"
                                          ng-model="specificProperties.useSystemProperties.value">
                                        <small></small>
                                    </span>
                                </div>
                            </div>

                            <hr>

                            <div class="row">
                                <div class="col-lg-9">
                                    Use File Property Resource
                                </div>
                                <div class="col-lg-3">
                                    <span class="green switch green ng-valid ng-not-empty"
                                          ng-click="toggleProperty(specificProperties.useFileProperties)"
                                          ng-class="{ checked: (specificProperties.useFileProperties.value == 'true'), disabled:undefined }"
                                          ng-model="specificProperties.useFileProperties.value">
                                        <small></small>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-disabled" ng-show="propertyLoadingProcess"><div class="loader-1"></div></div>
                </div>
            </div>
        </div>
    </div>
</div>