<div class="content" style="position: relative">
    <div class="dk-loading" ng-show="loadingProcess">
        <div class="dk-loading-animation"></div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="card-box">

                    <div class="header-title prop-title m-t-0 m-b-15">
                        <span class="prop-title-text">
                            Database Properties
                        </span>

                        <ul class="nav navbar-nav property-search-form">
                            <li class="hidden-xs">
                                <form role="search" class="app-search ng-pristine ng-valid">
                                    <input type="text" placeholder="Search..." class="form-control m-t-0 m-r-10" ng-model="propertiesFilter.search" ng-model-options="{ debounce: { 'default': 500, 'blur': 0 } }" ng-change="resetPaginationAndReload()">
                                    <a href=""><i class="fa fa-search"></i></a>
                                </form>
                            </li>
                        </ul>


                        <button class="btn btn-circle btn-success waves-effect waves-light pull-right" title="Add new Property" ng-click="addNewProperty()"><i class="fa fa-plus"></i></button>

                        <ul class="nav navbar-nav navbar-right">
                            <li class="m-r-10">
                                <uib-pagination
                                        total-items="propertiesFilter.totalItems"
                                        items-per-page="propertiesFilter.entriesOnPage"
                                        ng-model="propertiesFilter.currentPage"
                                        max-size="5"
                                        class="pagination-sm pull-right m-t-0 m-b-0 m-r-10"
                                        boundary-link-numbers="true"
                                        rotate="false"
                                        ng-click="loadProperties()">
                                </uib-pagination>
                            </li>
                        </ul>
                    </div>

                    <table class="table m-b-0" id="propertyTable">
                        <thead>
                        <tr>
                            <th>
                                Default
                                <i class="fa fa-question-circle text-warning"
                                   tooltip-placement="right-top"
                                   tooltip-class="customTooltip"
                                   uib-tooltip="Check sign indicates that there is no specific property for such key in current country and default value is taken"></i>
                            </th>
                            <th>Property Key</th>
                            <th width="50%">Property Value</th>
                            <th>Last Modified</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="property in allProperties">
                            <td ng-mouseenter="showDefaultBtn=true" ng-mouseleave="showDefaultBtn=false">
                                <i class="fa fa-check text-success" ng-show="!property.country"></i>
                                <i class="fa fa-minus text-info" ng-show="property.country"></i>

                                <button ng-show="showDefaultBtn && property.country" class="btn btn-xs extra-small btn-circle btn-success waves-effect waves-light" title="Make this value default" ng-click="makeDefault(property)"><i class="fa fa-check"></i></button>
                                <button ng-show="showDefaultBtn && !property.country" class="btn btn-xs extra-small btn-circle btn-info waves-effect waves-light" title="Create a copy for current country" ng-click="copyForCountry(property)"><i class="fa fa-minus"></i></button>
                            </td>
                            <td>
                            <span editable-text="property.key" e-name="key" e-form="propertyForm" e-ng-disabled="!inserted.new">
                                {{property.key}}
                            </span>
                            </td>
                            <td>
                            <span editable-text="property.value" e-name="value" e-form="propertyForm" style="word-break: break-all">
                                {{property.value}}
                            </span>
                            </td>
                            <td>{{property.lastModified | date:'dd/MM/yyyy hh:mm:ss'}}</td>
                            <td class="actions">
                                <!-- form -->
                                <form editable-form name="propertyForm" onbeforesave="saveProperty($data, property)" ng-show="propertyForm.$visible" shown="inserted == property">
                                    <a href class="text-success" ng-disabled="propertyForm.$waiting" ng-click="propertyForm.$submit()"><i class="fa fa-save"></i></a>
                                    <a href class="text-danger" ng-disabled="propertyForm.$waiting" ng-click="cancelFormEditing(propertyForm)"><i class="fa fa-times"></i></a>
                                </form>
                                <div class="buttons" ng-show="!propertyForm.$visible">
                                    <a href class="text-success" ng-click="propertyForm.$show()"><i class="fa fa-pencil"></i></a>
                                    <a href class="text-danger" ng-click="removeProperty(property)"><i class="fa fa-trash-o"></i></a>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div><!-- end col -->
        </div>

        <div class="row">

            <div class="col-lg-4">
                <div class="portlet permalink-config">
                    <div class="portlet-heading bg-success">
                        <h5 class="portlet-title">
                            Permalink Generation
                        </h5>
                        <div class="clearfix"></div>
                    </div>
                    <div class="panel-collapse collapse in">
                        <div class="portlet-body">

                            <div class="row">
                                <div class="col-lg-9">
                                    <b>Default</b>
                                    <p><small>(http://www.reifen.de/magazin/?p=123)</small></p>
                                </div>
                                <div class="col-lg-3">
                                    <switch ng-model="specificProperties.permalinkGenerationStrategy.value" value="default" ng-change="updateProperty(specificProperties.permalinkGenerationStrategy)" class="green"></switch>
                                </div>
                            </div>

                            <hr>

                            <div class="row">
                                <div class="col-lg-9">
                                    <b>Day and name</b>
                                    <p><small>(http://www.reifen.de/magazin/2016/08/17/sample-post/)</small></p>
                                </div>
                                <div class="col-lg-3">
                                    <switch ng-model="specificProperties.permalinkGenerationStrategy.value" value="dayAndName" ng-change="updateProperty(specificProperties.permalinkGenerationStrategy)" class="green"></switch>
                                </div>
                            </div>

                            <hr>

                            <div class="row">
                                <div class="col-lg-9">
                                    <b>Month and name</b>
                                    <p><small>(http://www.reifen.de/magazin/2016/08/sample-post/)</small></p>
                                </div>
                                <div class="col-lg-3">
                                    <switch ng-model="specificProperties.permalinkGenerationStrategy.value" value="monthAndName" ng-change="updateProperty(specificProperties.permalinkGenerationStrategy)" class="green"></switch>
                                </div>
                            </div>

                            <hr>

                            <div class="row">
                                <div class="col-lg-9">
                                    <b>Numeric</b>
                                    <p><small>(http://www.reifen.de/magazin/archives/123)</small></p>
                                </div>
                                <div class="col-lg-3">
                                    <switch ng-model="specificProperties.permalinkGenerationStrategy.value" value="numeric" ng-change="updateProperty(specificProperties.permalinkGenerationStrategy)" class="green"></switch>
                                </div>
                            </div>

                            <hr>

                            <div class="row">
                                <div class="col-lg-9">
                                    <b>Post name</b>
                                    <p><small>(http://www.reifen.de/magazin/sample-post/)</small></p>
                                </div>
                                <div class="col-lg-3">
                                    <switch ng-model="specificProperties.permalinkGenerationStrategy.value" value="postName" ng-change="updateProperty(specificProperties.permalinkGenerationStrategy)" class="green"></switch>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-disabled" ng-show="propertyLoadingProcess"><div class="loader-1"></div></div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="portlet">
                    <div class="portlet-heading bg-purple">
                        <h5 class="portlet-title">
                            Property Configuration
                        </h5>
                        <div class="clearfix"></div>
                    </div>
                    <div class="panel-collapse collapse in">
                        <div class="portlet-body">

                            <div class="row">
                                <div class="col-lg-8">
                                    Auto create default property for new properties
                                </div>
                                <div class="col-lg-4">
                                    <span class="green switch green ng-valid ng-not-empty"
                                          ng-click="toggleProperty(specificProperties.autoCreateDefault)"
                                          ng-class="{ checked: (specificProperties.autoCreateDefault.value == 'true'), disabled:undefined }"
                                          ng-model="specificProperties.autoCreateDefault.value">
                                        <small></small>
                                    </span>
                                </div>
                            </div>

                            <hr>

                            <div class="row">
                                <div class="col-lg-8">
                                    Auto delete default properties
                                </div>
                                <div class="col-lg-4">
                                    <span class="green switch green ng-valid ng-not-empty"
                                          ng-click="toggleProperty(specificProperties.autoDeleteDefault)"
                                          ng-class="{ checked: (specificProperties.autoDeleteDefault.value == 'true'), disabled:undefined }"
                                          ng-model="specificProperties.autoDeleteDefault.value">
                                        <small></small>
                                    </span>
                                </div>
                            </div>

                            <hr>

                            <div class="row">
                                <div class="col-lg-8">
                                    Use System Property Resource
                                </div>
                                <div class="col-lg-2">
                                    <span class="green switch green ng-valid ng-not-empty"
                                          ng-click="toggleProperty(specificProperties.useSystemProperties)"
                                          ng-class="{ checked: (specificProperties.useSystemProperties.value == 'true'), disabled:undefined }"
                                          ng-model="specificProperties.useSystemProperties.value">
                                        <small></small>
                                    </span>
                                </div>
                                <div class="col-lg-2">
                                    <button class="btn btn-info btn-xs btn-circle" title="Show all properties" ng-click="openSystemPropertyList()"><i class="fa fa-list"></i></button>
                                </div>
                            </div>

                            <hr>

                            <div class="row">
                                <div class="col-lg-8">
                                    Use File Property Resource
                                </div>
                                <div class="col-lg-2">
                                    <span class="green switch green ng-valid ng-not-empty"
                                          ng-click="toggleProperty(specificProperties.useFileProperties)"
                                          ng-class="{ checked: (specificProperties.useFileProperties.value == 'true'), disabled:undefined }"
                                          ng-model="specificProperties.useFileProperties.value">
                                        <small></small>
                                    </span>
                                </div>
                                <div class="col-lg-2">
                                    <button class="btn btn-info btn-xs btn-circle" title="Show all properties" ng-click="openFilePropertyList()"><i class="fa fa-list"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-disabled" ng-show="propertyLoadingProcess"><div class="loader-1"></div></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="propertyListModal.html">
    <div class="modal-header">
        <h3 class="modal-title">Property List</h3>
    </div>
    <div class="modal-body">

        <div class="container">
            <div class="col-lg-12">
                <table class="table table-striped m-0" style="word-break: break-all">
                    <thead>
                    <tr>
                        <th>Key</th>
                        <th>Value</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="(key, value) in propertyList">
                        <td width="40%">{{key}}</td>
                        <td width="60%">{{value}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button class="btn btn-info" type="button" ng-click="$dismiss('cancel')">OK</button>
    </div>
</script>