<!-- Start content -->
<div class="content" style="position: relative;">

    <div class="container">

        <div class="row">
            <div class="col-md-12" style="position: relative">
                <div class="dk-loading" ng-show="loadingProcess">
                    <div class="dk-loading-animation"></div>
                </div>
                <div class="card-box task-detail">
                    <div class="dropdown pull-right">
                        <a href="#" class="dropdown-toggle card-drop" data-toggle="dropdown" aria-expanded="false">
                            <i class="zmdi zmdi-more-vert"></i>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </div>
                    <div class="media m-b-20 m-t-0">
                        <div class="media-left">
                            <a href="#"> <img class="media-object img-circle" alt="64x64" src="/dist/images/users/avatar-2.jpg" style="width: 48px; height: 48px;"> </a>
                        </div>
                        <div class="media-body">

                            <h4 class="media-heading m-b-0">{{postEntry.author}}</h4>
                            <span class="label label-danger">Test Category</span>
                        </div>
                    </div>

                    <h4 class="font-600 m-b-20">{{postEntry.title}}</h4>

                    <p class="text-muted">
                        <div ng-bind-html="postEntry.content" id="post-content">
                            {{postEntry.content}}
                        </div>
                    </p>

                    <ul class="list-inline task-dates m-b-0 m-t-20">
                        <li>
                            <h5 class="font-600 m-b-5">Creation Date</h5>
                            <p>{{postEntry.creationDate | date:'yyyy-MM-dd HH:mm'}}</p>
                        </li>
                    </ul>
                    <div class="clearfix"></div>

                    <div class="task-tags m-t-20">
                        <h5 class="font-600">Tags</h5>
                        <input type="text" value="Amsterdam,Washington,Sydney" data-role="tagsinput" placeholder="add tags"/>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="text-right m-t-30">
                                <button type="submit" class="btn btn-success waves-effect waves-light">Save</button>
                                <button type="button" class="btn btn-default waves-effect">Cancel</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div><!-- end col -->

            <div class="col-md-12" ng-controller="CommentController as commentCtrl" style="position: relative">

                <div class="dk-loading" ng-show="commentLoadingProcess">
                    <div class="dk-loading-animation"></div>
                </div>

                <div class="card-box">
                    <div class="dropdown pull-right">
                        <a href="#" class="dropdown-toggle card-drop" data-toggle="dropdown" aria-expanded="false">
                            <i class="zmdi zmdi-more-vert"></i>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </div>

                    <h4 class="header-title m-t-0 m-b-30">Comments ({{postEntry.numComments}})</h4>

                    <div>
                        <ba-comment comment="comment" ng-repeat="comment in blogComments" prepare-reply-form="prepareReplyForm(comment)" top-func="prepareReplyForm"></ba-comment>

                        <div class="media">
                            <div class="media-left">
                                <a href="#"> <img class="media-object img-circle thumb-sm" alt="64x64" src="/dist/images/users/avatar-1.jpg"> </a>
                            </div>
                            <div class="media-body">
                                <input id="replyInput" type="text" class="form-control input-sm" placeholder="Some text value..." ng-model="newComment.body">
                            </div>
                        </div>

                    </div>
                </div>
            </div><!-- end col -->
        </div>
        <!-- end row -->


    </div> <!-- container -->

</div> <!-- content -->