<div class="content">
    <div class="container">
        <div class="col-lg-12">
            <div class="card-box">

                <div class="header-title prop-title m-t-0 m-b-15">
                        <span class="prop-title-text">
                            Blog Comments
                        </span>

                    <ul class="nav navbar-nav dk-search-form">
                        <li class="hidden-xs">
                            <form role="search" class="app-search ng-pristine ng-valid">
                                <input type="text" placeholder="Search..." class="form-control m-t-0 m-r-10" ng-model="propertiesFilter.search" ng-model-options="{ debounce: { 'default': 500, 'blur': 0 } }" ng-change="resetPaginationAndReload()">
                                <a href=""><i class="fa fa-search"></i></a>
                            </form>
                        </li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li class="m-r-10">
                            <uib-pagination
                                    total-items="propertiesFilter.totalItems"
                                    items-per-page="propertiesFilter.entriesOnPage"
                                    ng-model="propertiesFilter.currentPage"
                                    max-size="5"
                                    class="pagination-sm pull-right m-t-0 m-b-0 m-r-10"
                                    boundary-link-numbers="true"
                                    rotate="false"
                                    ng-click="loadProperties()">
                            </uib-pagination>
                        </li>
                    </ul>

                    <ul class="nav navbar-nav dk-search-form comment-filter-list">
                        <li class="comment-filter-item active">All</li>
                        <li>|</li>
                        <li class="comment-filter-item">Approved</li>
                        <li>|</li>
                        <li class="comment-filter-item">Pending</li>
                        <li>|</li>
                        <li class="comment-filter-item">Spam</li>
                        <li>|</li>
                        <li class="comment-filter-item">Trash</li>
                    </ul>
                </div>

                <div style="position: relative;">
                    <div class="dk-loading" ng-show="loadingProcess">
                        <div class="dk-loading-animation"></div>
                    </div>

                    <ul class="nav navbar-nav dk-search-form comment-action-list" ng-show="actionCommentIds.length">
                        <li class="text-success comment-action-item"><i class="fa fa-arrow-right"></i></li>
                        <li class="comment-action-item">Approve</li>
                        <li>|</li>
                        <li class="comment-action-item">Unapprove</li>
                        <li>|</li>
                        <li class="comment-action-item">Mark as Spam</li>
                        <li>|</li>
                        <li class="comment-action-item">Move to Trash</li>
                    </ul>

                    <table class="table m-b-15" id="commentsTable">
                        <thead>
                        <tr>
                            <th width="5%"><input type="checkbox" ng-checked="checkIfAllChecked()" ng-click="toggleAllCheck($event)"/></th>
                            <th width="20%">Author</th>
                            <th width="60%">Comment</th>
                            <th width="15%">In Response To</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="comment-row" ng-repeat="comment in comments">
                            <td><input type="checkbox" ng-checked="checkIfInActionList(comment.id)" ng-click="toggleActionCommentId(comment.id, $event)"/></td>
                            <td class="author column-author">

                                <div class="comment-user-name m-b-10">
                                    <img src="dist/images/user-comment.png" height="32" width="32">
                                    <strong>{{comment.author}}</strong>
                                </div>
                                <a href="mailto:{{comment.email}}" class="comment-user-mail">{{comment.email}}</a>
                                <br>
                                <span class="comment-user-ip">{{comment.ipAddress}}</span>
                            </td>
                            <td>
                                <div class="comment-date">
                                    Submitted on <span>{{comment.date | date:'dd/MM/yyyy HH:mm'}}</span>
                                </div>
                                <div class="comment-content">
                                    {{comment.text}}
                                </div>
                                <div class="comment-action-block">
                                    <ul class="comment-action-list">
                                        <li class="comment-approve comment-action">Approve</li>
                                        <li>|</li>
                                        <li class="comment-action">Reply</li>
                                        <li>|</li>
                                        <li class="comment-action">Quick Edit</li>
                                        <li>|</li>
                                        <li class="comment-action">Edit</li>
                                        <li>|</li>
                                        <li class="comment-action comment-danger">Spam</li>
                                        <li>|</li>
                                        <li class="comment-action comment-danger">Trash</li>
                                    </ul>
                                </div>
                            </td>
                            <td>
                                <strong><span class="comment-count">0</span></strong>
                                <a href="/entry/{{comment.postId}}" class="m-l-10">View Post</a>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </div>

            </div>
        </div><!-- end col -->
    </div>
</div>